<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szymon Koziol</title>

</head>
<body>
    <ul>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis cum, dicta facere iste itaque quas saepe sequi sunt voluptatem? Asperiores consectetur dolorum fuga iste nesciunt quis quos, repellat tempore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aspernatur deleniti ea, ipsum laboriosam maxime minima nisi, odio praesentium quam quas quod repellendus sit sunt vel velit. Facere, nam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut consequatur dolore enim ipsa numquam pariatur? Magnam obcaecati ratione reprehenderit totam. Excepturi exercitationem iure ratione reiciendis soluta temporibus? Atque, hic?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus pariatur quis repudiandae, rerum sapiente voluptates. A accusamus, animi delectus ducimus esse nam natus nihil numquam, perferendis ratione sed, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque cum dolorem error magni minus, saepe totam vero. Est explicabo id libero veniam vero? Adipisci commodi nostrum recusandae sint vel.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis doloribus fugit possimus soluta. Assumenda commodi, corporis deleniti dicta hic incidunt maiores minus nihil optio repellendus reprehenderit totam veniam voluptatum?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum cupiditate eveniet excepturi, harum, ipsa iure, laudantium maxime non nulla numquam placeat provident quaerat quisquam rem sed ullam ut voluptas!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa deserunt eum fugiat illum minima natus rem tenetur. Asperiores aspernatur consectetur laboriosam modi mollitia natus nulla perferendis voluptatum. Natus, reiciendis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aperiam blanditiis deleniti expedita impedit itaque iusto magni natus neque, nisi non pariatur possimus praesentium quam quisquam quo quod vel voluptatibus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa cupiditate dolore doloribus enim et eum eveniet excepturi expedita itaque laudantium mollitia, nemo neque non pariatur, placeat quia unde voluptatum!
    </ul>
    <div class="scroll">
        <button class="btn btn-success">
           <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Do góry
        </button>
     </div>


    <footer class="center">
        <span>Copyrights & copy; Szymon Kozioł | 2020</span>
    </footer>

    <script src="js/navbar.js"></script>
    <script src="js/scroll.js"></script>
</body>
</html>
